@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

:root {
    --gray-100: #f8f9fa;
    --gray-200: #f1f3f5;    
    --gray-300: #e9ecee;
    --gray-400: #dee2e6;
    --gray-500: #cfd4da;
    --gray-600: #adb5bd;    
    --gray-700: #868e96;
    --gray-800: #495057;
    --gray-900: #343a40;
    --gray-1000: #21252a;

    --blue-100: #eff8ff;
    --blue-200: #aad4f5;
    --blue-400: #63a2d8;
    --blue-600: #3183c8;
    --blue-700: #2368a2;
    --blue-800: #1a4971;
    --blue-900: #12283a;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Work Sans', sans-serif;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.75rem;
}

.nav {
    height: inherit;
    width: 200px;
    margin-left: 15px;
}

    .nav-item {
        display: flex;
        padding: 0.5rem 0rem;
        position: relative;
        width: inherit;
        cursor: pointer;
    }

        .nav-item-icon {
            width: 1.25rem;
            height: auto;
        }

        .nav-item-title {
            margin-left: 0.5rem; 
        }

        .nav-item-close {
            right: 0.75rem;
            position: absolute;
        }

.horizontal-tabs {
    display: flex;
    flex-direction: row;
    list-style: none;
}

    .horizontal-tabs * {
        font-size: 1.5rem;
        flex: 1;
        text-align: center;
        padding: 10px 0;
        cursor: pointer;
    }

.icon {
    user-select: none;
    cursor: pointer;
}

.platform-redirect {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 5px;
    text-decoration: none;
    color: inherit;
}

    .platform-redirect-icon {
        font-size: 1rem;
    }

.add-top {
    margin-top: 20px;
}

.add-bottom {
    margin-bottom: 20px;
}

.return-btn {
    font-size: 3rem;
    margin-right: 10px;
}

.no-display {
    display: none !important;
}

.no-right-padding {
    padding-right: 0px !important;
}

.no-left-padding {
    padding-left: 0px !important;
}


.pillbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.search-box {
    padding: 5px 10px;
    font-size: 1.5rem;
}

    .search-box.inline {
        flex: 1;
    }

.sticky-top-right {
    position: absolute;
    right: 0;
    top: 0;
}

.feed {
    width: inherit;
    flex: 1;
    margin: 20px 0px;
    overflow-y: scroll;
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

    .feed::-webkit-scrollbar {
        display: none; /* Hide scrollbar for Chrome, Safari and Opera */
        -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    }

    .dash-item {
        width: inherit;
        height: auto;
        min-height: 50px;
        position: relative;
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;

        border: solid 1px gray;             /* GOTTA GO */
    }

        .dash-item-picture {
            width: 50px;
            margin: 10px;
            border-radius: 100px;
            height: fit-content;
        }

            .icon-picture {
                height: 50px;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;

                background-color: #adb5bd;      /* GOTTA GO */
            }

        .dash-item-content {
            flex: 1;
            padding: 10px;
        }

            .dash-item-time {
                padding: 10px;
            }

            .dash-item-pretext {
                padding-right: 35px;
            }

            .dash-item-title {}

                .checked {
                    text-decoration: line-through;
                }

            .dash-item-checkbox {
                display: flex;
                flex-direction: row;
                align-items: center;
            }

                .checkbox {
                    margin-right: 10px;
                }

            .dash-item-description {
                font-weight: 400;
            }

            .clip-text {
                position: relative;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                height: 1.2em;
                overflow: hidden;
            }
              
            .clip-text::after {
                content: "";
                text-align: right;
                position: absolute;
                bottom: 0;
                right: 0;
                width: 25%;
                height: 1.2em;
                background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
            }

            .dash-item-actions {
                padding: 10px;
            }

                .dash-item-action {
                    font-size: 1.5rem;
                }
